.floatl {
	float:left;
	margin-right:10px; 
}

.floatr {
	float:right;
	margin-left:10px;
}

.bbcodeleft {
    text-align: left;
}

.bbcodecenter {
    text-align: center;
}

.bbcoderight {
    text-align: right;
}

.bbcodejustify {
    text-align: justify;
}

.topic-body .cooked .bbcodeleft, .topic-body .cooked .bbcodecenter, .topic-body .cooked .bbcoderight, .topic-body .cooked .bbcodejustify {
	margin-bottom: 1em;
}